<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.origin.esports">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="30" android:name="com.origin.esports.MyApplication">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2563787493982341~3732482406"/>
        <activity
            android:name="com.origin.esports.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name="com.origin.esports.MyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name="com.origin.esports.WithdrawMoneyActivity"/>
        <activity android:name="com.origin.esports.MainActivity"/>
        <activity android:name="com.origin.esports.AppUpdaterActivity"/>
        <activity android:name="com.origin.esports.MobileVerifyActivity"/>
        <activity android:name="com.origin.esports.EditProfileActivity"/>
        <activity android:name="com.origin.esports.TopPlayersActivity"/>
        <activity android:name="com.origin.esports.MatchResultActivity"/>
        <activity android:name="com.origin.esports.JoinMatchConfirmationActivity"/>
        <activity android:name="com.origin.esports.MatchDetailsActivity"  />
        <activity android:name="com.origin.esports.LoginActivity"/>
        <activity android:name="com.origin.esports.NewsActivity"/>
        <activity android:name="com.origin.esports.SplashScreenActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.origin.esports.MyGameActivity"/>

    </application>

</manifest>